$font-family-primary: 'Varela Round', sans-serif;

$color-black: #222222;
$color-white: #ffffff;
$color-blue: darkblue;
$color-red: darkred;
$color-green: darkgreen;
$color-primary: #e36634;
$color-secondary: #fce0d1;
