{% extends 'layouts/default.html.twig' %}

{% block title %}on écoute quoi maintenant ?{% endblock %}
{% block bodyclass %}home{% endblock %}

{% block main %}
    {% if suggestedAlbum %}
        <section class="suggest">
            <header>
                <h2>
                    <i class="fas fa-lightbulb"></i>
                    pourquoi pas ?
                </h2>
            </header>

            {% include 'partials/_albums.html.twig' with {'albums': suggestedAlbum, 'home': true} %}
        </section>
    {% endif %}

    {% if albumsLastListened %}
        <section class="lastlistened">
            <header>
                <h2>
                    <i class="fas fa-fast-forward"></i>
                    dernières écoutes
                </h2>
                <p>Les derniers albums que vous avez écoutés :</p>
            </header>

            {% include 'partials/_albums.html.twig' with {'albums': albumsLastListened, 'home': true} %}
        </section>
    {% endif %}

    {% if albumsPlayed %}
        <section class="suggest">
            <header>
                <h2>
                    <i class="fas fa-heart"></i>
                    souvent écoutés
                </h2>
                <p>vous écoutez souvent ça :</p>
            </header>

            {% include 'partials/_albums.html.twig' with {'albums': albumsPlayed, 'home': true} %}
        </section>
    {% endif %}

    {% if albumsNeverListened %}
        <section class="lastlistened">
            <header>
                <h2>
                    <i class="fas fa-fast-forward"></i>
                    hé ben ?
                </h2>
                <p>vous n'avez jamais écouté ces albums :(</p>
            </header>

            {% include 'partials/_albums.html.twig' with {'albums': albumsNeverListened, 'home': true} %}
        </section>
    {% endif %}

    {% if categories | length > 0 %}
        <section class="categories">
            <header>
                <h2>
                    <i class="fas fa-list-alt"></i>
                    dans une catégorie
                </h2>
                <p>Voici la liste de vos catégories de musiques :</p>
            </header>

            {% include 'partials/_categories.html.twig' with {'categories': categories, 'home': true} %}
        </section>
    {% endif %}

    {% if artists | length > 0 and false %}
        <section class="artists">
            <header>
                <h2>
                    <i class="fas fa-list-alt"></i>
                    ou par artiste
                </h2>
                <p>Voici la liste de vos artistes :</p>
            </header>

            {% include 'partials/_artists.html.twig' with {'artists': artists, 'home': true} %}
        </section>
    {% endif %}
{% endblock %}
