.app-main {
    margin-bottom: 3.5rem;

    @include respond(md) {
        margin-bottom: 0;
    }

    section {
        padding: 1.5rem 0;
        background-color: $color-white;

        @include respond(sm) {
            padding: 1.5rem;
        }

        header {
            padding: 0 1.5em;
        }

        main {
            padding: 0 1.5em 1rem;

            img {
                box-sizing: border-box;
                display: block;
                margin-bottom: 1rem;
                padding: 0.5rem;
                width: 100%;
                height: 250px;
                object-fit: contain;
            }

            h3 {
                font-size: 1.25rem;
                font-weight: bold;
                text-align: center;
            }

            h4 {
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
            }

            h5 {
                font-size: 0.9rem;
                font-weight: bold;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        aside {
            padding: 1.5em 0;
            background-color: $color-white;

            @include respond(sm) {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }

            h2 {
                margin-left: 1.5rem;
                margin-right: 1.5rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &:nth-child(even) {
            background-color: $color-secondary;

            .app-grid {
                .grid-item {
                    color: $color-black;
                    background-color: $color-white;

                    .grid-item-title {
                        color: $color-primary;
                    }

                    .grid-item-text {
                        i {
                            color: $color-primary;
                        }
                    }

                    .grid-item-stats {
                        background-color: $color-secondary;
                    }
                }
            }

        }

        & > .actions {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1rem 0 0;

            a,
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
                text-decoration: none;
                color: $color-black;
                background: none;
                border: none;
                cursor: pointer;

                i {
                    margin-right: 0.5rem;
                    color: $color-primary;

                    &.fa-edit {
                        margin-right: 0;
                        color: $color-blue;
                    }

                    &.fa-trash-alt {
                        margin-right: 0;
                        color: $color-red;
                    }
                }
            }
        }

        .btn-play {
            margin-left: auto;

            i {
                color: $color-green !important;
            }
        }
    }
}
