.app-grid {
    margin-bottom: -0.5rem;
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;

    @include respond(sm) {
        overflow-x: initial;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }

    @include respond(md) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }

    @include respond(lg) {
        grid-template-columns: repeat(6, 1fr);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .grid-item {
        position: relative;
        margin: 1.25rem 1.25rem 1.5rem;
        padding: 0.5rem;
        flex: 0 0 calc(75% - 3.5rem);
        scroll-snap-align: center;
        text-align: center;
        color: $color-black;
        background-color: $color-secondary;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba($color-black, 0.5);
        opacity: 0.9;
        transition: all 0.3s;
        border-radius: 0.5rem;

        @include respond(sm) {
            margin: 0;
            width: auto;
            border-radius: 0;

            &:nth-child(3n+1) {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:nth-child(3n+3) {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        @include respond(md) {
            &:nth-child(3n+1),
            &:nth-child(3n+3) {
                border-radius: 0;
            }

            &:nth-child(4n+1) {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:nth-child(4n+4) {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        @include respond(lg) {
            &:nth-child(3n+1),
            &:nth-child(3n+3),
            &:nth-child(4n+1),
            &:nth-child(4n+4) {
                border-radius: 0;
            }

            &:nth-child(6n+1) {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:nth-child(6n+6) {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        &:hover {
            box-shadow: 0.5rem 0.5rem 0.5rem rgba($color-black, 0.5);
            transform: scale(1.05);
        }

        a {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        .grid-item-image {
            display: block;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            width: 100%;
            height: 250px;
            object-fit: contain;
            box-sizing: border-box;
        }

        .grid-item-image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            height: 175px;
            background: url('../img/albums/default.png') no-repeat center center;
            background-size: contain;

            & > .grid-item-image {
                margin-bottom: 0;
                padding: 0;
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .grid-item-title {
            color: $color-primary;
        }

        .grid-item-subtitle {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
        }

        .grid-item-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem;

            i {
                margin-right: 0.5rem;
                font-size: 0.9rem;
                color: $color-primary;
            }
        }

        .grid-item-stats {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 0.5rem 0.25rem;
            font-size: 0.75rem;
            background-color: $color-white;
            border-radius: 0.5rem;
            box-shadow: inset 2px 2px 2px rgba($color-black, 0.5);

            p {
                margin-bottom: 0 !important;
            }

            i {
                margin-right: 0.5rem;
                font-size: 0.9rem;
                color: $color-primary;
            }
        }

        .grid-item-actions {
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            right: 1rem;
            display: flex;
            justify-content: space-between;

            a,
            button {
                background: none;
                border: none;
                cursor: pointer;

                i {
                    &.fa-edit {
                        color: $color-blue;
                    }

                    &.fa-trash-alt {
                        color: $color-red;
                    }
                }
            }
        }
    }
}
