table {
    width: 100%;

    thead {
        position: sticky;
        top: 7rem;

        tr {
            th {
                padding: 0.25rem 0.5rem;
                font-size: 1rem;
                font-weight: bold;
                text-align: left;
                color: $color-white;
                background-color: $color-primary;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 0.5rem;
            }

            &:nth-child(even) {
                td {
                    background-color: $color-secondary;
                }
            }

            &:hover {
                td {
                    background-color: rgba($color-primary, 0.5);
                }
            }
        }
    }
}
