{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos artistes{% endblock %}
{% block bodyclass %}artist{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-users-cog"></i>
                {% if category %}
                    les artistes {{ category.name }}
                {% else %}
                    tous les artistes
                {% endif %}
                ({{ artists | length }})
            </h2>

            <div class="actions">
                <a href="{{ path('artist.new') }}">
                    <i class="fas fa-plus-circle"></i>
                    nouvel artiste
                </a>
            </div>
        </header>

        {% include 'partials/_artists.html.twig' with {'artists': artists} %}
    </section>
{% endblock %}
