{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos artistes{% endblock %}
{% block bodyclass %}artist{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-users-cog"></i>
                tous les artistes
            </h2>
        </header>

        {% include 'partials/_artists.html.twig' with {'artists': artists, 'alt': 'alt'} %}

        <div class="actions">
            <a href="{{ path('artist.new') }}">
                <i class="fas fa-plus-circle"></i>
                nouvel artiste
            </a>
        </div>
    </section>
{% endblock %}
