{% extends 'layouts/default.html.twig' %}

{% block title %}ajouter un artiste{% endblock %}
{% block bodyclass %}artist{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-list-alt"></i>
                gérez vos artistes
            </h2>
        </header>

        {{ include('artist/_form.html.twig') }}

        <a href="{{ path('artist') }}">back to list</a>
    </section>
{% endblock %}
