{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos artistes{% endblock %}
{% block bodyclass %}artist{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-list-alt"></i>
                ajouter un artiste
            </h2>
        </header>

        {{ include('artist/_form.html.twig') }}

        <div class="actions">
            <a href="{{ path('artist') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                retour à la liste
            </a>
        </div>
    </section>
{% endblock %}
