body.album {
    .app-main {
        section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: calc(100vh - 10rem);

            .grid-item-image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                height: 250px;
                background: url('../img/albums/default.png') no-repeat center center;
                background-size: contain;

                & > .grid-item-image {
                    margin-bottom: 0;
                    padding: 0;
                    width: 6rem;
                    height: 6rem;
                    object-fit: cover;
                    border: none;
                    border-radius: 50%;
                }
            }

            aside {
                margin: 0 1rem;
                padding: 0.5rem 0.5rem 0.25rem;
                background-color: $color-secondary;
                border-radius: 0.5rem;
                box-shadow: inset 2px 2px 2px rgba($color-black, 0.5);

                h2 {
                    font-size: 1rem;
                }
            }
        }
    }

    &.show {
        .app-main {
            section {
                .grid-item-image-container {
                    height: 350px;

                    @include respond(sm) {
                        height: 600px;
                    }

                    @include respond(md) {
                        height: 500px;
                    }

                    & > .grid-item-image {
                        width: 7.5rem;
                        height: 7.5rem;

                        @include respond(sm) {
                            width: 15rem;
                            height: 15rem;
                        }

                        @include respond(md) {
                            width: 12rem;
                            height: 12rem;
                        }
                    }
                }
            }
        }
    }
}
