{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos albums{% endblock %}
{% block bodyclass %}album{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-record-vinyl"></i>
                {% if category is defined %}
                    {% if category %}
                        les albums {{ category.name }}
                    {% else %}
                        tous les albums
                    {% endif %}
                {% else %}
                    tous les albums
                {% endif %}
                ({{ albums | length }})
            </h2>

            <div class="actions">
                <a href="{{ path('album.new') }}">
                    <i class="fas fa-plus-circle"></i>
                    nouvel album
                </a>
            </div>
        </header>

        {% include 'partials/_albums.html.twig' with {'albums': albums, 'alt': 'alt'} %}
    </section>
{% endblock %}
