{% extends 'layouts/default.html.twig' %}

{% block title %}ajouter un album{% endblock %}
{% block bodyclass %}album{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-list-alt"></i>
                gérez vos albums
            </h2>
        </header>

        {{ include('album/_form.html.twig') }}

        <a href="{{ path('album') }}">back to list</a>
    </section>
{% endblock %}
