{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos albums{% endblock %}
{% block bodyclass %}album{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-record-vinyl"></i>
                ajouter un album
            </h2>
        </header>

        {{ include('album/_form.html.twig') }}

        <div class="actions">
            <a href="{{ path('album') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                retour à la liste
            </a>
        </div>
    </section>
{% endblock %}
