{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos albums{% endblock %}
{% block bodyclass %}album{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-record-vinyl"></i>
                les albums jamais écoutés ({{ albums | length }})
            </h2>

            <div class="actions">
                <a href="{{ path('stats') }}">
                    <i class="fas fa-arrow-circle-left"></i>
                    retour
                </a>
            </div>
        </header>

        {% include 'partials/_albums.html.twig' with {'albums': albums, 'alt': 'alt'} %}
    </section>
{% endblock %}
